.git
.gitignore
.dockerignore

node_modules
**/node_modules

.next
**/.next
dist
**/dist
coverage
**/coverage

.turbo
**/.turbo

.env
.env.*
**/.env
**/.env.*

*.sqlite
*.sqlite3
*.db

.DS_Store
*.log
